body {
    background: #212529;
}
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: black;
}

.sendmsgform {
    input {
        border: none;
        background: #6EACDA;
        width: 80%;
        height: 100%;
        border-radius: 10px;
    }
    button {
        width: 20%;
        height: 100%;
    }
    height: 4vh;
}

.selected {
    background-color: #6EACDA !important;
}